include templates/header.pug
div(class='container-fluid')
  div(class='row')
    nav(class='col-sm-3 col-md-2 d-none d-sm-clock bg-loght sidebar')
      ul(class='nav nav-pills flex-column')
        li(class='nav-item')
          a(class='nav-link active' href='#') Overview
        li(class='nav-item')
          a(class='nav-link active' href='#') Overview
        li(class='nav-item')
          a(class='nav-link active' href='#') Overview
        li(class='nav-item')
          a(class='nav-link active' href='#') Overview
    main(class='col-sm-9 ml-sm-auto col-md-10 pt-3' role='main')
      h1 Расписание на день
      div(class='table-responsive')
        table(class='table table-striped')
          thead
            tr
              th #
              th Название
              th Кол-во
              th Колории
          tbody(id='t_body')
      div(class='d-flex justify-content-between')
        button(class='btn btn-success') Подтвердить
        button(class='btn btn-secondary') Добавить
      hr
      div(
        class='flex-colunm align-items-center mt-4'
        id='block__add'  
      )
      div(
        class='flex-column align-items-center mt-4'
        id='block__add'
      )
        div(class='col-10 block__add')
          div(class='form-group')
            label(for='name') Название продукта
            input(
              class='form-control'
              id='name'
              type='text'
              aria-descriptedby='nameHelper'
              placeholder='Название'
            )
          div(class='form-group')
            label(for='count') Кол-во продукта
            input(
              class='form-control'
              id='count'
              type='text'
              aria-descriptedby='countHelper'
              placeholder='Кол-во'
            )
          div(class='form-group')
            label(for='colories') Кол-во колорий в 100г
            input(
              class='form-control'
              id='count'
              type='text'
              aria-descriptedby='countHelper'
              placeholder='Кол-во'
            )
          button(
            class='btn btn-success'
            id='button__add'
            type='submit'
          ) Добавить
include templates/footer.pug